<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <ConnectionStrings>
		<add name= "sqlserver" connectionString = "Server = localhost\SQLEXPRESS; uid = sa; pwd = sama; database = DB1" providerName ="System.Data.Common"/>
	</ConnectionStrings>
</configuration>